.pf-c-masthead {
    background-color: #5995E4;
}

.pf-c-page__sidebar {
    background-color: #D5D5D5;
}

.pf-c-nav__link.pf-m-current, .pf-c-nav__link.pf-m-current:hover, .pf-c-nav__item.pf-m-current:not(.pf-m-expanded) .pf-c-nav__link {
    background-color: grey;
}

.pf-c-nav__link:hover, .pf-c-nav__link:focus, .pf-c-nav__link:active {
    background-color: grey;
}

#imagePreviewDiv {
    z-index: 1000;
    width: 300px;
    height: 300px;
    background-color: red;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

}