
<!DOCTYPE html>
<html lang="en" class="pf-m-redhat-font">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/fonts.css" />
  <!-- Include latest PatternFly CSS via CDN -->
  <link 
    rel="stylesheet" 
    href="https://unpkg.com/@patternfly/patternfly/patternfly.css" 
    crossorigin="anonymous"
  >
  <link rel="stylesheet" href="/style.css" />
  <script src="https://d3js.org/d3.v4.js"></script>

  <title>Data Streaming Demo - TEST</title>
</head>
<body>
  <div class="pf-c-page" id="dashboard-demo">
    <a
      class="pf-c-skip-to-content pf-c-button pf-m-primary"
      href="#main-content-dashboard-demo"
    >Skip to content</a>
    <header class="pf-c-masthead" id="dashboard-demo-masthead">
      <span class="pf-c-masthead__toggle">
        <button
          class="pf-c-button pf-m-plain"
          type="button"
          aria-label="Global navigation"
        >
          <i class="fas fa-bars" aria-hidden="true"></i>
        </button>
      </span>
      <div class="pf-c-masthead__main">
        Data Streaming Demo
      </div>
    </header>
    <!--<div class="pf-c-page__sidebar">
      <div class="pf-c-page__sidebar-body">
        <nav class="pf-c-nav" id="dashboard-demo-primary-nav" aria-label="Global">
          <ul class="pf-c-nav__list">
            <li class="pf-c-nav__item">
              <a
                href="#"
                class="pf-c-nav__link pf-m-current"
                aria-current="page"
              >Dashboard</a>
            </li>
            <li class="pf-c-nav__item">
              <a href="#" class="pf-c-nav__link">Simulator</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>-->
    <main class="pf-c-page__main" tabindex="-1" id="main-content-dashboard-demo">
      <section class="pf-c-page__main-section pf-m-limit-width pf-m-light">
        <div class="pf-c-page__main-body">
          <div class="pf-c-content">
            <h1>Dashboard</h1>
            <p>This is the dashboard of the Data Streaming Demo.</p>
          </div>
        </div>
      </section>
      <section class="pf-c-page__main-section pf-m-limit-width">
        <div class="pf-c-page__main-body">
          <div class="pf-l-grid pf-m-gutter">
            <div class="pf-c-card pf-m-expanded">
              <div class="pf-c-card__header">
                <div class="pf-c-card__title" id="dashboard-demo-expandable-status-card-1-title">
                  <h2 class="pf-c-title pf-m-xl">Charts</h2>
                </div>
              </div>
              <div class="pf-c-card__expandable-content">
                <div class="pf-l-flex pf-m-column pf-m-row-on-md">
                  <div class="pf-l-flex pf-m-flex-1 pf-m-align-self-stretch pf-m-align-items-stretch">
                    <div class="pf-c-card pf-m-plain">
                      <div class="pf-c-card__body">
                        <div class="pf-l-flex pf-m-column pf-u-h-100 pf-m-space-items-sm">
                          <div class="pf-l-flex pf-m-space-items-sm pf-m-column-on-md pf-m-row-on-lg pf-m-spacer-md-on-md pf-m-spacer-sm-on-lg">
                            <div class="pf-c-label-group">
                              <div class="pf-c-label-group__main">
                                <ul
                                  class="pf-c-label-group__list"
                                  role="list"
                                  aria-label="Group of labels"
                                >
                                  <li class="pf-c-label-group__list-item">
                                    <span class="pf-c-label pf-m-blue pf-m-outline">
                                      <span class="pf-c-label__content">
                                        <span class="pf-c-label__icon">
                                          <i
                                            class="pf-icon pf-icon-port"
                                            aria-hidden="true"
                                          ></i>
                                        </span>
                                        Data Streams
                                      </span>
                                    </span>
                                  </li>
                                </ul>
                              </div>
                            </div>
                            <a id="MessageCountCurrentVolume" href="#"></a>
                          </div>                          
                          <div class="pf-l-flex__item pf-m-spacer-md">
                            <div id="messageCountChart"></div>                          
                          </div>                          
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr class="pf-c-divider pf-m-vertical-on-md pf-m-inset-3xl" />
                  <div class="pf-l-flex pf-m-flex-1 pf-m-align-self-stretch pf-m-align-items-stretch">
                    <div class="pf-c-card pf-m-plain">
                      <div class="pf-c-card__body">
                        <div class="pf-l-flex pf-m-column pf-u-h-100 pf-m-space-items-sm">
                          <div class="pf-l-flex pf-m-space-items-sm pf-m-column-on-md pf-m-row-on-lg pf-m-spacer-md-on-md pf-m-spacer-sm-on-lg">
                            <div class="pf-c-label-group">
                              <div class="pf-c-label-group__main">
                                <ul
                                  class="pf-c-label-group__list"
                                  role="list"
                                  aria-label="Group of labels"
                                >
                                  <li class="pf-c-label-group__list-item">
                                    <span
                                      class="pf-c-label pf-m-blue pf-m-outline"
                                    >
                                      <span class="pf-c-label__content">
                                        <span class="pf-c-label__icon">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-thermometer-half" viewBox="0 0 16 16">
  <path d="M9.5 12.5a1.5 1.5 0 1 1-2-1.415V6.5a.5.5 0 0 1 1 0v4.585a1.5 1.5 0 0 1 1 1.415z"/>
  <path d="M5.5 2.5a2.5 2.5 0 0 1 5 0v7.55a3.5 3.5 0 1 1-5 0V2.5zM8 1a1.5 1.5 0 0 0-1.5 1.5v7.987l-.167.15a2.5 2.5 0 1 0 3.333 0l-.166-.15V2.5A1.5 1.5 0 0 0 8 1z"/>
</svg>
                                        </span>
                                        Temperature warnings
                                      </span>
                                    </span>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="pf-l-flex pf-m-space-items-sm pf-m-column-on-md pf-m-row-on-lg pf-m-spacer-md-on-md pf-m-spacer-sm-on-lg">
                            <span id="temperatureWarningCount">0</span>&nbsp;Warnings
                          </div>
                          <div class="pf-l-flex pf-m-space-items-sm pf-m-column-on-md pf-m-row-on-lg pf-m-spacer-md-on-md pf-m-spacer-sm-on-lg">
                          </div>
                          <div class="pf-l-flex pf-m-space-items-sm pf-m-column-on-md pf-m-row-on-lg pf-m-spacer-md-on-md pf-m-spacer-sm-on-lg">
                            <div class="pf-c-label-group">
                              <div class="pf-c-label-group__main">
                                <ul
                                        class="pf-c-label-group__list"
                                        role="list"
                                        aria-label="Group of labels"
                                >
                                  <li class="pf-c-label-group__list-item">
                                    <span
                                            class="pf-c-label pf-m-blue pf-m-outline"
                                    >
                                      <span class="pf-c-label__content">
                                        <span class="pf-c-label__icon">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-image" viewBox="0 0 16 16">
  <path d="M8.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
  <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v8l-2.083-2.083a.5.5 0 0 0-.76.063L8 11 5.835 9.7a.5.5 0 0 0-.611.076L3 12V2z"/>
</svg>
                                        </span>
                                        Images warnings
                                      </span>
                                    </span>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="pf-l-flex pf-m-space-items-sm pf-m-column-on-md pf-m-row-on-lg pf-m-spacer-md-on-md pf-m-spacer-sm-on-lg">
                            <span id="imageWarningCount">0</span>&nbsp;Warnings
                          </div>
                          <div class="pf-l-flex pf-m-space-items-sm pf-m-column-on-md pf-m-row-on-lg pf-m-spacer-md-on-md pf-m-spacer-sm-on-lg">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr class="pf-c-divider pf-m-vertical-on-md pf-m-inset-3xl" />
                  <div
                    class="pf-l-flex pf-m-flex-1 pf-m-align-self-stretch pf-m-align-items-stretch"
                  >
                    <div class="pf-c-card pf-m-plain">
                      <div class="pf-c-card__body">
                        <div
                          class="pf-l-flex pf-m-column pf-u-h-100 pf-m-space-items-sm"
                        >
                          <div
                            class="pf-l-flex pf-m-space-items-sm pf-m-column-on-md pf-m-row-on-lg pf-m-spacer-md-on-md pf-m-spacer-sm-on-lg"
                          >
                            <div class="pf-c-label-group">
                              <div class="pf-c-label-group__main">
                                <ul
                                  class="pf-c-label-group__list"
                                  role="list"
                                  aria-label="Group of labels"
                                >
                                  <li class="pf-c-label-group__list-item">
                                    <span
                                      class="pf-c-label pf-m-blue pf-m-outline"
                                    >
                                      <span class="pf-c-label__content">
                                        <span class="pf-c-label__icon">
                                          <i
                                            class="fas fa-fw fa-filter"
                                            aria-hidden="true"
                                          ></i>
                                        </span>
                                        Image processed
                                      </span>
                                    </span>
                                  </li>
                                </ul>
                              </div>
                            </div>
                            <a id="imageProcessedCount" href="#"></a>
                          </div>
                          <div class="pf-l-flex__item pf-m-spacer-md">
                            <div id="imageProcessChart"></div>                          
                          </div>  
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="pf-c-card pf-m-expanded">
              <div class="pf-c-card" id="dashboard-demo-data-list-card-1">
                <div class="pf-c-card__header pf-u-align-items-flex-start">
                  <div class="pf-c-card__title" id="dashboard-demo-data-list-card-1-title1">
                    <h2 class="pf-c-title pf-m-lg">Inventory</h2>
                  </div>
                </div>
                <ul
                  class="pf-c-data-list pf-m-grid-none"
                  role="list"
                  aria-label="Simple data list example"
                >
                  {#for location in deviceLocationMap.keySet}
                  <li
                    class="pf-c-data-list__item"
                  >
                    <div class="pf-c-data-list__item-row">
                      <div class="pf-c-data-list__item-content">
                        <div
                          class="pf-c-data-list__cell"
                        >{location} <div class="pf-u-font-size-sm">[{#for device in deviceLocationMap.get(location)}{device.id}{#if device_hasNext},{/if}{/for}]</div> </div>
                        <div
                          class="pf-c-data-list__cell pf-m-no-fill pf-m-align-right"
                        >
                          <a href="#">
                            <div class="pf-l-flex pf-m-space-items-sm">
                              <span id="rabbitAlarms_{location}">0</span>
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-image" viewBox="0 0 16 16">
                                <path d="M8.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v8l-2.083-2.083a.5.5 0 0 0-.76.063L8 11 5.835 9.7a.5.5 0 0 0-.611.076L3 12V2z"/>
                              </svg>
                              <span id="temperatureAlarms_{location}">0</span>
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-thermometer-half" viewBox="0 0 16 16">
                                <path d="M9.5 12.5a1.5 1.5 0 1 1-2-1.415V6.5a.5.5 0 0 1 1 0v4.585a1.5 1.5 0 0 1 1 1.415z"/>
                                <path d="M5.5 2.5a2.5 2.5 0 0 1 5 0v7.55a3.5 3.5 0 1 1-5 0V2.5zM8 1a1.5 1.5 0 0 0-1.5 1.5v7.987l-.167.15a2.5 2.5 0 1 0 3.333 0l-.166-.15V2.5A1.5 1.5 0 0 0 8 1z"/>
                              </svg>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </li>
                  {/for}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
  <script type="module" src="/chart.js"></script>
  <script type="module" src="/alarms.js"></script>

  <script>



  </script>
</body>
</html>
